<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <div class="slider slider--pagination" data-slider="index">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <section class="section section--intro" style="--background: url('../assets/images/main-bg.jpg')">
                        <div class="container">
                            <div class="intro">
                                <h1 class="title title--light">
                                    Екатеринбург <br>
                                    город контрастов
                                </h1>
                                <a href="#" class="button">Подробнее</a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="swiper-slide">
                    <section class="section section--intro" style="--background: url('../assets/images/main-bg.jpg')">
                        <video class="video-block" preload="auto" loop autoplay muted playsinline>
                            <source src="https://300.екатеринбург.рф/local/templates/diez-ekb/assets/video/intro-new-mp4.mp4" type="video/mp4;">
                        </video>
                    </section>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <%= htmlWebpackPlugin.options.widgets.blockCards %>
    <%= htmlWebpackPlugin.options.widgets.blockPoster %>
    <%= htmlWebpackPlugin.options.widgets.blockPromo %>
    <%= htmlWebpackPlugin.options.widgets.blockNews %>
    <%= htmlWebpackPlugin.options.widgets.blockAttractions %>
    <%= htmlWebpackPlugin.options.widgets.blockReviews %>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
