<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/attraction-bg.png')">
        <div class="container">
            <div class="intro">
                <div class="breadcrumbs breadcrumbs--intro">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <p class="breadcrumbs__link">Достопримечательности Екатеринбурга</p>
                </div>
                <h1 class="title title--light">
                    Достопримечательности
                    Екатеринбурга
                </h1>
                <p class="subtitle">
                    В 2023 году Екатеринбург отпразднует свое 300-летие. Свою историю город отсчитывает с 18 ноября 1723
                    года, когда были запущены цеха крупнейшего в России железоделательного Екатерининского завода.
                </p>
            </div>
        </div>
    </section>
    <section class="section section--gradient pt-130 ptm-64 pb-125 pbm-30">
        <div class="container">
            <div class="header-block">
                <h2 class="title">Достопримечательности</h2>
            </div>
            <div class="grid mb-90 mbm-30">
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <article class="article-news article-news--auto article-news--direction article-news--red">
                        <a href="#" class="article-news__intro">
                            <span class="article-news__badges">
                                <span class="badge">топ!</span>
                            </span>
                            <picture class="article-news__picture">
                                <img src="./assets/images/pic-15.jpg" alt="">
                            </picture>
                            <div class="article-news__more">
                                <span>подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Музейный комплекс УГМК
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>г. Верхняя Пышма, ул Александра Козицына, 2А</span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <article class="article-news article-news--auto article-news--direction article-news--red">
                        <a href="#" class="article-news__intro">
                            <span class="article-news__badges">
                                <span class="badge">топ!</span>
                            </span>
                            <picture class="article-news__picture">
                                <img src="./assets/images/pic-15.jpg" alt="">
                            </picture>
                            <div class="article-news__more">
                                <span>подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Музейный комплекс УГМК
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>г. Верхняя Пышма, ул Александра Козицына, 2А</span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <article class="article-news article-news--auto article-news--direction article-news--red">
                        <a href="#" class="article-news__intro">
                            <span class="article-news__badges">
                                <span class="badge">топ!</span>
                            </span>
                            <picture class="article-news__picture">
                                <img src="./assets/images/pic-15.jpg" alt="">
                            </picture>
                            <div class="article-news__more">
                                <span>подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Музейный комплекс УГМК
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>г. Верхняя Пышма, ул Александра Козицына, 2А</span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <article class="article-news article-news--auto article-news--direction article-news--red">
                        <a href="#" class="article-news__intro">
                            <span class="article-news__badges">
                                <span class="badge">топ!</span>
                            </span>
                            <picture class="article-news__picture">
                                <img src="./assets/images/pic-15.jpg" alt="">
                            </picture>
                            <div class="article-news__more">
                                <span>подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Музейный комплекс УГМК
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>г. Верхняя Пышма, ул Александра Козицына, 2А</span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <article class="article-news article-news--auto article-news--direction article-news--red">
                        <a href="#" class="article-news__intro">
                            <span class="article-news__badges">
                                <span class="badge">топ!</span>
                            </span>
                            <picture class="article-news__picture">
                                <img src="./assets/images/pic-15.jpg" alt="">
                            </picture>
                            <div class="article-news__more">
                                <span>подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Музейный комплекс УГМК
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>г. Верхняя Пышма, ул Александра Козицына, 2А</span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <article class="article-news article-news--auto article-news--direction article-news--red">
                        <a href="#" class="article-news__intro">
                            <span class="article-news__badges">
                                <span class="badge">топ!</span>
                            </span>
                            <picture class="article-news__picture">
                                <img src="./assets/images/pic-15.jpg" alt="">
                            </picture>
                            <div class="article-news__more">
                                <span>подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Музейный комплекс УГМК
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>г. Верхняя Пышма, ул Александра Козицына, 2А</span>
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <button class="button button--mob-wide center">
                <span>Показать больше</span>
                <span class="button__icon">
                <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                </svg>
            </span>
            </button>
        </div>
    </section>
    <section class="section section--gray pt-130 ptm-40 pb-90 pbm-70">
        <div class="container">
            <div class="header-block">
                <h2 class="title">Карта Популярных локаций</h2>
            </div>
            <div class="direction-map direction-map--single" data-map-container>
                <div class="direction-map__wrapper">
                    <div class="direction-map__map" id="map"></div>
                    <ul class="direction-map__list">
                        <li class="direction-map__item active" data-map-item data-lat="56.838011" data-lan="60.597474" data-color="F39314" data-description="Почтамт">Почтамт</li>
                        <li class="direction-map__item" data-map-item data-lat="56.838011" data-lan="60.697474" data-color="F39314" data-description="Горсовет">Горсовет</li>
                        <li class="direction-map__item" data-map-item data-lat="56.838011" data-lan="60.497474" data-color="86578B" data-description="Водонапорная башня">Водонапорная башня</li>
                        <li class="direction-map__item" data-map-item data-lat="56.838011" data-lan="60.517474" data-color="F39314" data-description="Плотинка">Плотинка</li>
                        <li class="direction-map__item" data-map-item data-lat="56.838011" data-lan="60.537474" data-color="2AA7A4" data-description="Опера">Опера</li>
                        <li class="direction-map__item" data-map-item data-lat="56.638011" data-lan="60.597474" data-color="86578B" data-description="Дом севастьянова">Дом севастьянова</li>
                        <li class="direction-map__item" data-map-item data-lat="56.938011" data-lan="60.597474" data-color="F39314" data-description="Консерватория">Консерватория</li>
                        <li class="direction-map__item" data-map-item data-lat="56.868011" data-lan="60.597474" data-color="2AA7A4" data-description="динамо">динамо</li>
                        <li class="direction-map__item" data-map-item data-lat="56.888011" data-lan="60.597474" data-color="F39314" data-description="университет">университет</li>
                        <li class="direction-map__item" data-map-item data-lat="56.848011" data-lan="60.607474" data-color="86578B" data-description="дом купца пшеничникова">дом купца пшеничникова</li>
                        <li class="direction-map__item" data-map-item data-lat="56.848011" data-lan="60.587474" data-color="2AA7A4" data-description="исеть">исеть</li>
                        <li class="direction-map__item" data-map-item data-lat="56.828011" data-lan="60.557474" data-color="F39314" data-description="колизей">колизей</li>
                        <li class="direction-map__item" data-map-item data-lat="56.818011" data-lan="60.527474" data-color="2AA7A4" data-description="уралмашзавод">уралмашзавод</li>
                        <li class="direction-map__item" data-map-item data-lat="56.818011" data-lan="60.517474" data-color="86578B" data-description="белая башня">белая башня</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
