.article-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 321px;
    height: 321px;
    overflow: hidden;
    background: linear-gradient(137.4deg, var(--grey-gradient-2) 39.53%, var(--grey-2) 129.4%);

    @include r($mobile) {
      width: 202px;
      height: 202px;
    }

    img {
      @include coverFull();
    }
  }

  &__text {
    @include text(var(--black), 30px, 300, none, 42px);
    text-align: center;

    @include r($mobile) {
      @include text(var(--black), 16px, 300, none, 16px);
    }
  }

  &__modal {
    --accent-color: var(--black);
    max-width: 800px;
    background-color: var(--grey-gradient);
    background-image: url("../assets/images/modal-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;

    @include r($mobile) {
      margin: 0px 20px;
    }

    .article-guide__picture {
      flex-shrink: 0;
      border-radius: 20px;
      width: 327px;
      height: 368px;

      @include r($mobile) {
        width: 112px;
        height: 163px;
        border-radius: 9px;
      }
    }

    .article-guide__text {
      margin-bottom: 17px;
      @include text(var(--black), 18px, 300, none, 22px);
      text-align: left;

      @include r($mobile) {
        margin-bottom: 5px;
        @include text(var(--black), 10px, 300, none, 14px);
      }
    }

    .fancybox-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      fill: var(--blue);
      cursor: pointer;

      &:hover {
        opacity: .7;
      }
    }

    &--orange {
      --accent-color: var(--orange);
    }

    &--green {
      --accent-color: var(--green);
    }

    &--blue {
      --accent-color: var(--blue);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    gap: 27px;

    @include r($mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    .article-guide__picture {
      @include r($mobile) {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 21px;
    @include text(var(--black), 32px, 300, none, 38px);

    span {
      color: var(--accent-color);
    }

    @include r($mobile) {
      margin-bottom: 7px;
      @include text(var(--black), 13px, 300, none, 15px);
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    margin-bottom: 27px;
    list-style: disc;

    &::before {
      content: '';
      position: absolute;
      left: -8px;
      top: 0;
      bottom: 0;
      display: flex;
      width: 3px;
      border-radius: 20px;
      background-color: var(--blue);
    }

    @include r($mobile) {
      gap: 6px;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      &::before {
        display: none;
      }
    }
  }

  &__item {
    @include text(var(--black), 12px, 300, none, 22px);

    @include r($mobile) {
      @include text(var(--black), 10px, 300, none, 14px);
    }
  }

  &__icon {
    display: none;
    width: 19px;
    height: 19px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include r($mobile) {
      display: flex;
    }
  }
}
