.article-intro-card {
  --card-color: var(--black);
  --card-color-rgb: var(--black-rgb);

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 520px;
  border-radius: $r-20;
  transition: .2s linear;

  &:hover {
    .article-intro-card__title {
      transform: translateY(0);
    }

    .article-intro-card__link {
      transform: translateY(0);
    }

    .article-intro-card__more {
      &::after {
        transform: rotate(4deg) translateY(0);
      }
    }
  }

  @include r($mobile) {
    height: 377px;
  }

  &--narrow {
    max-width: 370px;

    @include r($mobile) {
      max-width: 100%;
    }
  }

  &--red {
    --card-color: var(--red);
    --card-color-rgb: var(--red-rgb);
  }

  &--orange {
    --card-color: var(--orange);
    --card-color-rgb: var(--red-rgb);
  }

  &--purple {
    --card-color: var(--purple);
    --card-color-rgb: var(--purple-rgb);
  }

  &--green {
    --card-color: var(--green);
    --card-color-rgb: var(--green-rgb);
  }

  &--yellow {
    --card-color: var(--yellow);
    --card-color-rgb: var(--yellow-rgb);
  }

  &--blue {
    --card-color: var(--blue);
    --card-color-rgb: var(--blue-rgb);
  }

  &--blue-light {
    --card-color: var(--blue-new);
    --card-color-rgb: var(--blue-new-rgb);
  }

  &--green-light {
    --card-color: var(--green-accent);
    --card-color-rgb: var(--green-accent-rgb);
  }

  &--yellow-light {
    --card-color: var(--yellow-new);
    --card-color-rgb: var(--yellow-new-rgb);
  }

  &__tags {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px 20px;
    padding: 18px 14px;
    z-index: 1;

    @include r($mobile) {
      padding: 26px 18px;
      gap: 7px 10px;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    @include text(var(--white));
    border-radius: 100px;
    background: rgba(var(--grey-2-rgb), .7);
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      @include coverFull();
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
    padding: 20px 0 0 0;
    background-color: transparent;
    background-image: url("../assets/images/decor-lines.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    border-radius: 0 0 18px 18px;

    @include r($mobile) {
      gap: 12px;
      padding: 20px 21px 20px 30px;
    }
  }

  &__preview {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: $r-20;
    overflow: hidden;
  }

  &__more {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;

    @include r($mobile) {
      gap: 15px;
      padding: 20px 40px 20px 20px;
    }

    &::after {
      content: "";
      position: absolute;
      left: -15px;
      bottom: -15px;
      display: flex;
      width: 110%;
      height: 160px;
      background-color: rgba(var(--grey-2-rgb), .9);
      transform: rotate(4deg) translateY(30px);
      transform-origin: bottom;
      transition: .2s linear;
      z-index: 0;

      @include r($mobile) {
        height: 135px;
        transform: rotate(4deg);
      }
    }

    .article-intro-card__link {
      transition: .2s linear;
      transform: translateY(50px);

      @include r($mobile) {
        transform: none;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 27px;
    color: var(--white);

    transition: .2s linear;
    transform: translateY(30px);

    z-index: 1;

    @include r($mobile) {
      font-size: 24px;
      transform: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 1;

    @include text(var(--white));
  }

  &__icon {
    display: flex;
    width: 7px;
    height: 7px;
    transform: rotate(-90deg);
  }
}
