<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro section--intro-search" style="--background: url('../assets/images/main-bg-2.jpg')">
        <div class="container">
            <div class="intro intro--wide">
                <form action="#" class="search">
                    <label class="search__item">
                        <input type="search" class="search__input" placeholder="Введите ваш запрос...">
                    </label>
                    <button class="search__btn">
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-search"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>
    <section class="section section--gradient pt-90 ptm-40 pb-130 pbm-60">
        <div class="container">
            <div class="grid">
                <div class="grid__item grid__item--12 grid__item-mob--4">
                    <a href="#" class="article-search">
                        <h2 class="article-search__title">Культурно-познавательный туризм</h2>
                        <p class="article-search__text text">
                            Екатеринбург готовится и живет предвкушением 300-летия. От юбилейного сезона масштабных
                            городских фестивалей, выставочных проектов и театральных премьер до традиционных
                            торжественных мероприятий по случаю круглой даты и кульминационных гала-событий. Яркие
                            мероприятия пройдут во всех районах города. А точкой кристаллизации станет Исторический цент
                            города.
                        </p>
                    </a>
                </div>
                <div class="grid__item grid__item--12 grid__item-mob--4">
                    <a href="#" class="article-search">
                        <h2 class="article-search__title">Культурно-познавательный туризм</h2>
                        <p class="article-search__text text">
                            Екатеринбург готовится и живет предвкушением 300-летия. От юбилейного сезона масштабных
                            городских фестивалей, выставочных проектов и театральных премьер до традиционных
                            торжественных мероприятий по случаю круглой даты и кульминационных гала-событий. Яркие
                            мероприятия пройдут во всех районах города. А точкой кристаллизации станет Исторический цент
                            города.
                        </p>
                    </a>
                </div>
                <div class="grid__item grid__item--12 grid__item-mob--4">
                    <a href="#" class="article-search">
                        <h2 class="article-search__title">Культурно-познавательный туризм</h2>
                        <p class="article-search__text text">
                            Екатеринбург готовится и живет предвкушением 300-летия. От юбилейного сезона масштабных
                            городских фестивалей, выставочных проектов и театральных премьер до традиционных
                            торжественных мероприятий по случаю круглой даты и кульминационных гала-событий. Яркие
                            мероприятия пройдут во всех районах города. А точкой кристаллизации станет Исторический цент
                            города.
                        </p>
                    </a>
                </div>
                <div class="grid__item grid__item--12 grid__item-mob--4">
                    <a href="#" class="article-search">
                        <h2 class="article-search__title">Культурно-познавательный туризм</h2>
                        <p class="article-search__text text">
                            Екатеринбург готовится и живет предвкушением 300-летия. От юбилейного сезона масштабных
                            городских фестивалей, выставочных проектов и театральных премьер до традиционных
                            торжественных мероприятий по случаю круглой даты и кульминационных гала-событий. Яркие
                            мероприятия пройдут во всех районах города. А точкой кристаллизации станет Исторический цент
                            города.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
