<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/main-bg-4.jpg')">
        <div class="container">
            <div class="intro intro--wide">
                <div class="breadcrumbs breadcrumbs--intro">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <p class="breadcrumbs__link">Маршруты</p>
                </div>
                <h1 class="title title--light">
                    Городское<br>
                    благоустройство
                </h1>
                <p class="subtitle">
                    Благоустройство и озеленение общественных территорий, парков, набережных. Новые арт-объекты,
                    памятные знаки и украшение городской среды.
                </p>
            </div>
        </div>
    </section>
    <section class="section section--routes pt-80 ptm-40 pb-80 pbm-60">
        <div class="container">
            <div class="editor mb-40">
                <p>
                    Проекты благоустройства Исторического сквера, парка имени XXII Партсъезда, Зелёной Рощи, набережной
                    реки Исети, Преображенского парка в Академическом районе и Солнечных аллей в микрорайоне Солнечном и
                    другие проекты.
                </p>
            </div>
            <div class="header-block">
                <h2 class="title">Проекты</h2>
            </div>
            <div class="grid">
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="grid__item grid__item--4 grid__item-mob--4">
                    <a href="#"
                       class="article-news article-news--max-size article-news--attraction article-news--light">
                                <span class="article-news__badges">
                                    <span class="badge">топ!</span>
                                </span>
                        <picture class="article-news__picture">
                            <img src="./assets/images/project-1.png" alt="">
                        </picture>
                        <div class="article-news__info">
                            <h2 class="article-news__title">
                                Стела «Город трудовой доблести»
                            </h2>
                            <p class="article-news__place">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-location"></use>
                                </svg>
                                <span>ул Александра Козицына, 2А</span>
                            </p>
                            <div class="show-more">
                                <span>Узнать подробности</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
