.block-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include r($mobile) {
    align-items: flex-start;
    gap: 30px;
  }

  &--history {
    &:not(:last-of-type) {
      margin-bottom: 50px;
    }

    .block-info__picture {
      height: auto;
      max-height: 460px;
      aspect-ratio: 1/1;
    }

    .block-info__text {
      b {
        font-weight: 700;
        text-transform: uppercase;

        @include r($mobile) {
          font-size: 14px;
        }
      }
    }

    .block-info__title {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;

      @include r($mobile) {
        @include text(var(--black), 22px, 700, none)
      }

      &::before {
        content: "";
        position: relative;
        display: flex;
        flex-grow: 1;
        height: 2px;
        background: repeating-linear-gradient(to right, black, black 20px, transparent 20px, transparent 50px) bottom/100% 1px no-repeat;
        @include r($mobile) {
          display: none;
        }
      }

      &::after {
        content: "";
        position: relative;
        display: flex;
        flex-grow: 1;
        height: 2px;
        background: repeating-linear-gradient(to right, black, black 20px, transparent 20px, transparent 50px) bottom/100% 1px no-repeat;
        @include r($mobile) {
          background: repeating-linear-gradient(to right, black, black 10px, transparent 10px, transparent 20px) bottom/100% 1px no-repeat;
        }
      }
    }
  }

  &__figure {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 340px;
    border-radius: $r-20;
    overflow: hidden;

    img {
      @include coverFull();
    }

    @include r($mobile) {
      margin: 0 -20px;
      width: calc(100% + 40px);
      height: 288px;
      border-radius: 0;
    }
  }

  &__detail {
    display: flex;
    gap: 70px;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    color: var(--black);
  }

  &__text {
    @include r($mobile) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 14;
      line-clamp: 14;
      -webkit-box-orient: vertical;
    }
  }

  &__more {
    display: none;
    cursor: pointer;

    @include r($mobile) {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 10px;
    }

    svg {
      display: flex;
      width: 7px;
      height: 7px;
      color: var(--dark);
    }
  }

  &__button {
    justify-self: flex-start;
    margin-top: 18px;
  }
}
