<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/main-bg-4.jpg')">
        <div class="container">
            <div class="intro intro--wide">
                <div class="breadcrumbs breadcrumbs--intro">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <p class="breadcrumbs__link">Маршруты</p>
                </div>
                <h1 class="title title--light">
                    300 историй Екатеринбурга, изменивших мир
                </h1>
                <p class="subtitle">
                    Истории открытий и изобретений, людей и институций, рожденных в Екатеринбурге за 300 лет его истории
                    и повлиявших на развитие не только региона и страны, но и, часто, мира. Летопись города,
                    распределенная по 300 историям и разным форматам: текст, визуал, кино- и аудио-хроника. Это ответы
                    на ключевые вопросы. Кто мы, откуда и куда идем? Откуда взялся уральский характер? Почему
                    Екатеринбург — узел истории России и кузница многих побед? И одновременно высказывание о
                    екатеринбургских феноменах.
                </p>
                <div class="timeline mob-hidden">
                    <div class="slider" data-slider="timeline">
                        <button class="swiper-btn swiper-btn--prev">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="timeline__item">
                                        <span>1681</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <button class="swiper-btn swiper-btn--next">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gradient pt-120 ptm-40 pb-160 pbm-60">
        <div class="container">
            <form action="#" class="timeline-form">
                <select onchange="this.form.submit()">
                    <option value="#">1681</option>
                    <option value="#">1681</option>
                    <option value="#">1681</option>
                </select>
            </form>
            <div class="block-info block-info--history">
                <h2 class="block-info__title">
                    1681
                </h2>
                <div class="grid">
                    <div class="grid__item grid__item--6 grid__item-mob--4 order-mob-1">
                        <figure class="block-info__figure">
                            <picture class="block-info__picture" data-fancybox="history-gallery" data-src="./assets/images/city-2.jpg">
                                <img src="./assets/images/city-2.jpg" alt="">
                            </picture>
                            <figcaption class="block-info__description">
                                Первый план Екатеринбурга М.С. Кутузова. Государственный архив Свердловской области.
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid__item grid__item--6 grid__item-mob--4 order-mob-0">
                        <p class="block-info__text text">
                            <b>ЗАВОД-КРЕПОСТЬ</b><br>
                            <br>
                            Екатеринбург основан в 1723 году как завод-крепость на реке Исети. Екатеринбургский
                            завод-крепость располагался в пространстве между современным проспектом Ленина и улицами
                            Малышева, Воеводина и Горького. Сегодня мы знаем эту территорию как Исторический сквер —
                            «сердце города», где можно почувствовать его силу и характер.<br>
                            <br>
                            Место для будущего завода выбрал сподвижник Петра I — выдающийся мыслитель и политик В.Н.
                            Татищев. В 1721 году он предложил построить на берегу реки Исети завод, производительность
                            которого составит до 200 тыс. пудов железа в год. В мире ещё не было предприятий подобной
                            мощности и уровня технологий. Воплотить этот замысел в жизнь выпало генералу В. И. де
                            Геннину, опытному горному инженеру.<br>
                            <br>
                            Завод вступил в строй 7 (18) ноября 1723 года. Через два года на его территории был основан
                            Монетный двор, который просуществовал 150 лет и чеканил 80% медной монеты Российской
                            империи. Екатеринбург сразу стал центром российской горной промышленности, основу которой
                            составляли в XVIII веке заводы, работающие на энергии воды.
                        </p>
                        <p class="block-info__more text">
                            <span>Рзвернуть</span>
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                            </svg>
                        </p>
                    </div>
                </div>
            </div>
            <div class="block-info block-info--history">
                <h2 class="block-info__title">
                    1723
                </h2>
                <div class="grid">
                    <div class="grid__item grid__item--6 grid__item-mob--4">
                        <p class="block-info__text text">
                            <b>ЗАВОД-КРЕПОСТЬ</b><br>
                            <br>
                            Екатеринбург основан в 1723 году как завод-крепость на реке Исети. Екатеринбургский
                            завод-крепость располагался в пространстве между современным проспектом Ленина и улицами
                            Малышева, Воеводина и Горького. Сегодня мы знаем эту территорию как Исторический сквер —
                            «сердце города», где можно почувствовать его силу и характер.<br>
                            <br>
                            Место для будущего завода выбрал сподвижник Петра I — выдающийся мыслитель и политик В.Н.
                            Татищев. В 1721 году он предложил построить на берегу реки Исети завод, производительность
                            которого составит до 200 тыс. пудов железа в год. В мире ещё не было предприятий подобной
                            мощности и уровня технологий. Воплотить этот замысел в жизнь выпало генералу В. И. де
                            Геннину, опытному горному инженеру.<br>
                            <br>
                            Завод вступил в строй 7 (18) ноября 1723 года. Через два года на его территории был основан
                            Монетный двор, который просуществовал 150 лет и чеканил 80% медной монеты Российской
                            империи. Екатеринбург сразу стал центром российской горной промышленности, основу которой
                            составляли в XVIII веке заводы, работающие на энергии воды.
                        </p>
                        <p class="block-info__more text">
                            <span>Рзвернуть</span>
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                            </svg>
                        </p>
                    </div>
                    <div class="grid__item grid__item--6 grid__item-mob--4">
                        <figure class="block-info__figure">
                            <picture class="block-info__picture" data-fancybox="history-gallery" data-src="./assets/images/city-2.jpg">
                                <img src="./assets/images/city-2.jpg" alt="">
                            </picture>
                            <figcaption class="block-info__description">
                                Первый план Екатеринбурга М.С. Кутузова. Государственный архив Свердловской области.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="block-info block-info--history">
                <h2 class="block-info__title">
                    1723
                </h2>
                <div class="grid">
                    <div class="grid__item grid__item--6 grid__item-mob--4 order-mob-1">
                        <figure class="block-info__figure">
                            <picture class="block-info__picture" data-fancybox="history-gallery" data-src="./assets/images/city-2.jpg">
                                <img src="./assets/images/city-2.jpg" alt="">
                            </picture>
                            <figcaption class="block-info__description">
                                Первый план Екатеринбурга М.С. Кутузова. Государственный архив Свердловской области.
                            </figcaption>
                        </figure>
                    </div>
                    <div class="grid__item grid__item--6 grid__item-mob--4 order-mob-0">
                        <p class="block-info__text text">
                            <b>ЗАВОД-КРЕПОСТЬ</b><br>
                            <br>
                            Екатеринбург основан в 1723 году как завод-крепость на реке Исети. Екатеринбургский
                            завод-крепость располагался в пространстве между современным проспектом Ленина и улицами
                            Малышева, Воеводина и Горького. Сегодня мы знаем эту территорию как Исторический сквер —
                            «сердце города», где можно почувствовать его силу и характер.<br>
                            <br>
                            Место для будущего завода выбрал сподвижник Петра I — выдающийся мыслитель и политик В.Н.
                            Татищев. В 1721 году он предложил построить на берегу реки Исети завод, производительность
                            которого составит до 200 тыс. пудов железа в год. В мире ещё не было предприятий подобной
                            мощности и уровня технологий. Воплотить этот замысел в жизнь выпало генералу В. И. де
                            Геннину, опытному горному инженеру.<br>
                            <br>
                            Завод вступил в строй 7 (18) ноября 1723 года. Через два года на его территории был основан
                            Монетный двор, который просуществовал 150 лет и чеканил 80% медной монеты Российской
                            империи. Екатеринбург сразу стал центром российской горной промышленности, основу которой
                            составляли в XVIII веке заводы, работающие на энергии воды.
                        </p>
                        <p class="block-info__more text">
                            <span>Рзвернуть</span>
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-chevrone"></use>
                            </svg>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
