<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>

<body class="theme-light">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/direction-bg.png')">
        <div class="container">
            <div class="intro">
                <div class="breadcrumbs breadcrumbs--intro">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                    <a href="#" class="breadcrumbs__link">Маршруты</a>
                    <p class="breadcrumbs__link">Экскурсионный маршрут на Уральские горы</p>
                </div>
                <h1 class="title title--light">
                    Экскурсионный маршрут на Уральские горы
                </h1>
                <p class="subtitle">
                    Поможем спланировать путешествие в Екатеринбург — город на пересечении двух частей света,
                    соединивший в себе Европу и Азию.
                </p>
            </div>
        </div>
    </section>
    <section class="section pt-80 ptm-60 pb-80">
        <div class="container">
            <div class="media-block">
                <div class="media-block__item">
                    <div class="media-block__info">
                        <h2 class="media-block__title">Маршрут <span>по горам</span></h2>
                        <p class="text">
                            В 2022 году в муниципальном образовании «город Екатеринбург» в рамках подготовки к празднованию
                            300-летия основания Екатеринбурга реализуется мероприятие «Благоустройство Исторического сквера»
                            с привлечением средств областного бюджета в рамках предоставления иного межбюджетного
                            трансферта.<br>
                            <br>
                            Сквер был возведен в 1973 году в честь 250-летия Екатеринбурга, но за это время некоторые
                            элементы пришли в негодность и возникла потребность в проведении их обновления. Накануне
                            300-летия города Администрация Екатеринбурга и правительство Свердловской области приняли
                            решение о выделении средств на эти цели.
                        </p>
                    </div>
                    <picture class="media-block__picture">
                        <img src="./assets/images/media-1.png" alt="">
                    </picture>
                </div>
                <div class="media-block__item">
                    <div class="media-block__info">
                        <h2 class="media-block__title">Маршрут <span>по горам</span></h2>
                        <p class="text">
                            В 2022 году в муниципальном образовании «город Екатеринбург» в рамках подготовки к празднованию
                            300-летия основания Екатеринбурга реализуется мероприятие «Благоустройство Исторического сквера»
                            с привлечением средств областного бюджета в рамках предоставления иного межбюджетного
                            трансферта.<br>
                            <br>
                            Сквер был возведен в 1973 году в честь 250-летия Екатеринбурга, но за это время некоторые
                            элементы пришли в негодность и возникла потребность в проведении их обновления. Накануне
                            300-летия города Администрация Екатеринбурга и правительство Свердловской области приняли
                            решение о выделении средств на эти цели.
                        </p>
                    </div>
                    <picture class="media-block__picture">
                        <img src="./assets/images/media-2.png" alt="">
                    </picture>
                </div>
                <div class="direction-map" data-map-container>
                    <p class="direction-map__text">Маршрут включает в себя 14 достопримечательностей:</p>
                    <div class="direction-map__wrapper">
                        <div class="direction-map__map" id="map"></div>
                        <ul class="direction-map__list">
                            <li class="direction-map__item active" data-map-item data-lat="56.838011" data-link="https://google.com/" data-lan="60.597474" data-color="F39314" data-description="Почтамт">Почтамт</li>
                            <li class="direction-map__item" data-map-item data-lat="56.838011" data-link="https://google.com/" data-lan="60.697474" data-color="F39314" data-description="Горсовет">Горсовет</li>
                            <li class="direction-map__item" data-map-item data-lat="56.838011" data-link="https://google.com/" data-lan="60.497474" data-color="86578B" data-description="Водонапорная башня">Водонапорная башня</li>
                            <li class="direction-map__item" data-map-item data-lat="56.838011" data-link="https://google.com/" data-lan="60.517474" data-color="F39314" data-description="Плотинка">Плотинка</li>
                            <li class="direction-map__item" data-map-item data-lat="56.838011" data-link="https://google.com/" data-lan="60.537474" data-color="2AA7A4" data-description="Опера">Опера</li>
                            <li class="direction-map__item" data-map-item data-lat="56.638011" data-link="https://google.com/" data-lan="60.597474" data-color="86578B" data-description="Дом севастьянова">Дом севастьянова</li>
                            <li class="direction-map__item" data-map-item data-lat="56.938011" data-link="https://google.com/" data-lan="60.597474" data-color="F39314" data-description="Консерватория">Консерватория</li>
                            <li class="direction-map__item" data-map-item data-lat="56.868011" data-link="https://google.com/" data-lan="60.597474" data-color="2AA7A4" data-description="динамо">динамо</li>
                            <li class="direction-map__item" data-map-item data-lat="56.888011" data-link="https://google.com/" data-lan="60.597474" data-color="F39314" data-description="университет">университет</li>
                            <li class="direction-map__item" data-map-item data-lat="56.848011" data-link="https://google.com/" data-lan="60.607474" data-color="86578B" data-description="Музей истории, науки и техники. Свердловской железной дороги">Музей истории, науки и техники. Свердловской железной дороги</li>
                            <li class="direction-map__item" data-map-item data-lat="56.848011" data-link="https://google.com/" data-lan="60.587474" data-color="2AA7A4" data-description="исеть">исеть</li>
                            <li class="direction-map__item" data-map-item data-lat="56.828011" data-link="https://google.com/" data-lan="60.557474" data-color="F39314" data-description="колизей">колизей</li>
                            <li class="direction-map__item" data-map-item data-lat="56.818011" data-link="https://google.com/" data-lan="60.527474" data-color="2AA7A4" data-description="уралмашзавод">уралмашзавод</li>
                            <li class="direction-map__item" data-map-item data-lat="56.818011" data-link="https://google.com/" data-lan="60.517474" data-color="86578B" data-description="белая башня">белая башня</li>
                        </ul>
                    </div>
                </div>
                <div class="media-block__item">
                    <div class="media-block__info">
                        <h2 class="media-block__title"><span>Общая галерея</span> маршрута</h2>
                    </div>
                    <%= htmlWebpackPlugin.options.widgets.blockGallery %>
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.widgets.blockPickYourRoute %>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
